@import (reference) "/src/styles.less";

:host {    
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
    overflow: hidden;
    // width: 100%;
    gap: 10px;
    
    .expired {
        color: white;
        text-align: center;
        background-color: #009460;
        padding: 10px;
        border-radius: 5px;
    }

    .sln {
        display: flex;
        overflow: hidden;
        gap: 10px;
        height: 100%;

        .right {
            height: 100%;
            width: 100%;
            display: flex;
            overflow-x: hidden;
            gap: 5px;
    
            .editor {
                width: 60%;
            }
    
            .task {
                width: 40%;
            }
        }
    }
}