<header *ngIf="!isAuthPage">
    <img [routerLink]="'/auth'" src="../assets/svg/logo.svg" class="logo">
    <div class="settings" [ngClass]="{'showingNotify': isShowingNotify}">
        <mat-icon [matBadge]="notifications.length" matBadgeColor="warn" matBadgeSize="small">
            <img src="../assets/svg/notification.svg" alt="notify" class="notify" (click)="showNotify(true)">
        </mat-icon>
    </div>
</header>
<div class="notifies" [ngClass]="{'showFrame': isShowingNotify}">
    <div class="not-item" *ngFor="let notification of notifications">
        <span class="name">{{notification.firstName}} {{notification.surname}}</span>
        <span class="text">{{notification.text}}</span>
    </div>
</div>
<body class="route">
    <router-outlet></router-outlet>
    <div class="load-process" *ngIf="loading">
        <div class="loader" style="width: 70px; height: 70px"></div>
        <span>Пожалуйста, ожидайте</span>
    </div>
</body>