<head>
    <link rel="stylesheet" href="/../../assets/code-themes/coderev.css">
</head>

<ng-container>
    <app-controls *ngIf="!isSync" #controls [editorMode]="editorMode" [taskSelected$]="taskSelected$"></app-controls>
    <ngx-codemirror
        class="editor"
        [ngClass]="{
            'hidden': isHidden
        }"
        #codeMirror
        [(ngModel)]="editor"
        [options]="options"
    ></ngx-codemirror>
    <app-toolbar #toolbar class="toolbar" [isTestsRunnable]="!isSync || editorMode === 0"></app-toolbar>
</ng-container>
