<div class="complete" *ngIf="(isSolutionComplete) && editorMode === editType.write">Интервью было успешно заверешно! Ответы больше не принимаются</div>
<div class="expired" *ngIf="(!isSolutionComplete && isSolutionExpired) && editorMode === editType.write">Время сдачи истекло. Ответы больше не принимаются</div>


<div class="sln">
    <app-welcome 
        class="notification"
        *ngIf="!isStarted && !review"
        (startInterview)="start($event)"
        (continueInterview)="continue($event)"
    ></app-welcome>

    <div class="left-bar" [ngStyle]="{'display' : isStarted || review ? '': 'none'}">
        <app-tasks-list #list (taskLoadingError)="applyTaskError($event)"></app-tasks-list>
        <div class="controls">
            <div *ngIf="!isInfoHidden && isReview" class="draft-btn" (click)="clickDraft()">
                <img *ngIf="!isDraftOpen && isReview" src="../../assets/svg/pencil.svg" alt="E">
                <img *ngIf="isDraftOpen" src="../../assets/svg/blanks.svg" alt="E">
            </div>
            <div class="hide-btn" (click)="hideInfo()" [ngClass]="{'open': !isInfoHidden}">
                <img *ngIf="isInfoHidden" src="../../assets/svg/info.svg" alt="E">
                <img *ngIf="!isInfoHidden" src="../../assets/svg/info.svg" alt="E">
            </div>
            <div *ngIf="!isReview && !isSolutionComplete && !isSolutionExpired" class="end-btn" (click)="showEnd(true)">
                <img src="../../assets/svg/flag.svg">
            </div>
            <div *ngIf="isReview" class="grade-btn" (click)="showGrade(true)">
                <img src="../../assets/svg/star.svg">
            </div>
        </div>
    </div>
    <ng-container *ngIf="isStarted || review">
        <!-- <button *ngFor="let task of tasks" (click)="change(task)">{{task}}</button> -->
        <div class="right">
            <div class="wrapper" [ngStyle]="{'width': !isInfoHidden ? '' : '0'}">
                <div class="about" [ngStyle]="{'display': isDraftOpen ? 'none' : ''}">
                    <app-info *ngIf="review" [review]="review"></app-info>
                    <app-webcam 
                        *ngIf="solutionId && isSync" 
                        [roomName]="solutionId" 
                        [currentUserName]="'testName'" 
                        #signalR>
                    </app-webcam>
                    <app-task class="task" [editorMode]="editorMode"></app-task>
                </div>
                <app-draft [ngStyle]="{'display': !isDraftOpen ? 'none' : ''}" class="draft"></app-draft>
            </div>
            <app-code-editor 
                [editorMode]="editorMode" 
                class="editor"
                [taskSelected$]="taskSelected$"
                #editor
            >
            </app-code-editor>
        </div>
    </ng-container>
</div>

<div *ngIf="isShowingGrade" class="grade">
    <div class="grade-inner">
        <span class="header">Оценивание работы</span>
        <div class="grading">
            <span class="label">Итоговый уровень знаний</span>
            <mat-radio-group [(ngModel)]="grade" class="grades">
                <mat-radio-button [value]="1">
                    1
                </mat-radio-button>
                <mat-radio-button [value]="2">
                    2
                </mat-radio-button>
                <mat-radio-button [value]="3">
                    3
                </mat-radio-button>
                <mat-radio-button [value]="4">
                    4
                </mat-radio-button>
                <mat-radio-button [value]="5">
                    5
                </mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="comment">
            <span class="label">Комментарий для HR</span>
            <textarea [(ngModel)]="comment"></textarea>
        </div>
        <div class="control-btns">
            <button class="btn-green" (click)="saveGrade()">Сохранить</button>
            <button (click)="showGrade(false)">Закрыть</button>
        </div>
    </div>
</div>

<app-notification 
    *ngIf="isShowingEnd"
    [topText]="'Отправить на проверку?'" 
    [text]="'Отправляйте задачи, только если уверены, что к выполнению вы уже не вернётесь.'" 
    [acceptText]="'Отправить'" 
    [declineText]="'Отмена'"
    (confirmed)="endSolution()"
    (declined)="showEnd(false)">
</app-notification>
