<div class="expired" *ngIf="(isSolutionExpired || isSolutionComplete) && editorMode === editType.write">Интервью было успешно заверешно! Ответы больше не принимаются</div>

<div class="sln">
    <app-notification 
        class="notification"
        *ngIf="!isStarted && !review"
        (startInterview)="start($event)"
        (continueInterview)="continue($event)"
    ></app-notification>

    <div class="left-bar">
        <app-tasks-list #list (taskLoadingError)="applyTaskError($event)"></app-tasks-list>
        <div class="controls">
            <div *ngIf="!isInfoHidden && isReview" class="draft-btn" (click)="clickDraft()">
                <img *ngIf="!isDraftOpen && isReview" src="../../assets/svg/pencil.svg" alt="E">
                <img *ngIf="isDraftOpen" src="../../assets/svg/blanks.svg" alt="E">
            </div>
            <div class="hide-btn" (click)="hideInfo()" [ngClass]="{'open': !isInfoHidden}">
                <img *ngIf="isInfoHidden" src="../../assets/svg/info.svg" alt="E">
                <img *ngIf="!isInfoHidden" src="../../assets/svg/info.svg" alt="E">
            </div>
        </div>
    </div>
    <ng-container *ngIf="isStarted || review">
        <!-- <button *ngFor="let task of tasks" (click)="change(task)">{{task}}</button> -->
        <div class="right">
            <div class="wrapper" [ngStyle]="{'width': !isInfoHidden ? '' : '0'}">
                <div class="about" [ngStyle]="{'display': isDraftOpen ? 'none' : ''}">
                    <app-info *ngIf="review" [review]="review"></app-info>
                    <app-task class="task" [editorMode]="editorMode"></app-task>
                </div>
                <app-draft [ngStyle]="{'display': !isDraftOpen ? 'none' : ''}" class="draft"></app-draft>
            </div>
            <app-code-editor 
                [editorMode]="editorMode" 
                class="editor"
                [taskSelected$]="taskSelected$"
            >
            </app-code-editor>
        </div>
    </ng-container>
</div>
