<div *ngIf="taskInfo else noTask" class="task">
    <span class="text-top">
        Задача {{taskInfo.taskOrder}}
    </span>
    <textarea class="text" readonly>
        {{taskInfo.taskText}}
    </textarea>

    <ng-container *ngIf="editorMode === mode.write else review">
        <button (click)="endTask()" class="submit" *ngIf="!taskInfo.isDone && !isSolutionExpired else done">Сдать задачу</button>
        <ng-template #done>
            <span class="done">Задача успешно сдана!</span>
        </ng-template>
    </ng-container>
    <ng-template #review>
        <div class="review">
            <img src="../../../../assets/svg/glasses.svg" alt="O-O">
            <span>Режим просмотра</span>
        </div>
    </ng-template>
</div>

<ng-template #noTask>
    Задача не выбрана
</ng-template>