<div class="image">
    <img src="../../../../assets/svg/logo.svg">
</div>

<ng-container *ngIf="this.sln && !this.sln.isStarted">
    <span class="top">Добро пожаловать на интервью по вакансии: {{this.sln.vacancy}}</span>
    <span>Дополнительная информация: {{this.sln.interviewText}}</span>
    <span>Интервью будет закрыто: {{this.sln.endTimeMs | date : 'short'}}</span>
    
    <span *ngIf="this.sln.isSynchronous">Интервью будет проходить в виде встречи, подготовьте вебкамеру</span>
    <ng-container *ngIf="this.sln !== undefined">
        <button (click)="start()" *ngIf="!this.sln.isSynchronous" class="btn-green">Приступить</button>
        <button (click)="start()" *ngIf="this.sln.isSynchronous" class="btn-green">Подключиться</button>
    </ng-container>
</ng-container>

<ng-container *ngIf="!this.sln">
    Загружаем интервью!
</ng-container>

