<div class="wrapper">
    <img class="logo" src="../../../../assets/svg/logo.svg">

    <form class="loginForm" [formGroup] = "loginForm">
        <h1>Вход</h1>
        <div class='inputDiv formChild'>
            <input type="text" class='input' placeholder="Почта" formControlName="userName"/>
        </div>
        <div class='inputDiv formChild'>
            <input type="password" class='input' placeholder="Пароль" formControlName="userPassword"/>
        </div>
        <div class="contCB">
            <input class="checkbox" type="checkbox" id="rememberPW">
            <label for="rememberPW">Запомнить пароль</label>
        </div>
        <button class='formChild button color-red' (click)="submit()">Войти</button>
        <a href="#">Не удается войти в систему?</a>
    </form>
</div>


<div class="load-process" *ngIf="isProcessing">
    <div class="loader" style="width: 70px; height: 70px"></div>
    <span>Авторизация</span>
</div>
