<div class="wrapper">
    <img class="logo" src="../../../../assets/svg/logo.svg">
    
    <form class="contLogin" [formGroup] = "loginForm">
        <div class="LoginBox">
            <h1>Вход</h1>
            <input class="txt" type="text" formControlName="userName" placeholder="Почта">
            <input class="txt" type="password" formControlName="userPassword" placeholder="Пароль">
            <div class="contCB">
                <input class="checkbox" type="checkbox" id="rememberPW">
                <label for="rememberPW">Запомнить пароль</label>
            </div>
            <button class="auth-form-button" (click)="submit()">Войти</button>
            <a href="#">Не удается войти в систему?</a>
        </div>
    </form>  
</div>


<div class="load-process" *ngIf="isProcessing">
    <div class="loader" style="width: 70px; height: 70px"></div>
    <span>Авторизация</span>
</div>