@color-use: #00A65A;

:host {
    width: 100%;
    .range {
        width: 100%;
    }

    .timeline {
        position: relative;
        height: 20px;
        width: 100%;

        .point {
            position: absolute;
            font-size: 30px;
        }
    }

    .write {
        display: flex;
    }

    button {
        gap: 5px;
        display: flex;
        align-items: center;
    }

    .b-green {
        padding: 8px;
        text-align: center;
        background-color: white;
        color: @color-use;
        border: solid 2px @color-use;

        img {
            filter: invert(48%) sepia(33%) saturate(3436%) hue-rotate(121deg) brightness(86%) contrast(101%);
        }

        &:hover {
            color: white;
            background-color: @color-use;
            
            img {
                filter: none;
            }
        }

        &:active {
            background-color: lighten(@color-use, 3%);
            border-color: lighten(@color-use, 3%);
        }
    }
}