@import (reference) "/src/styles.less";

:host {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    display: flex;
    gap: 20px;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    border-left: solid 10px @color-green;
    box-sizing: border-box;

    .info {
        align-items: center;
        gap: 15px;
        display: flex;
        align-items: center;
        background-color: white;

        .left {
            display: flex;
            flex-direction: row;
            gap: 16px;

            .name {
                font-family: Raleway-Bold;
                color: @color-black;
            }

            .vacancy {
                color: @color-black50;
            }
        }

        .language {
            height: 20px;
            padding: 4px 8px;
            font-size: 14px;
            text-align: center;
            border-radius: 8px;
            color: @color-black75;
            border: solid 1px @color-black75;
        }
    }
}
