<div class="webcams">
  <!-- <div class="col">
    <input [(ngModel)]="currentUserName" required placeholder="UserName" type="text">
  </div>
  <div class="col">
    <input [(ngModel)]="roomName" required placeholder="Room name" type="text">
  </div>
  <div class="col">
    <input [(ngModel)]="message" required placeholder="Message" type="text">
  </div>
  <div>
    <button (click)="saveUsername()" type="button">Save</button>
  </div>
  <div>
    <button (click)="stopRecorder()" type="button">Stop record</button>
  </div>
  <div>
    <button (click)="sendData()" type="button">Send Data</button>
  </div>
  <div>
    <button (click)="disconnect()" type="button">Disc</button>
  </div> -->
  <div>
    <video #ourVideoPlayer width="220" height="140" class="webcam"></video>
  </div>
  <div>
    <video #otherVideoPlayer width="220" height="140" class="webcam"></video>
  </div>
  <!-- <div *ngIf="!otherUser">
    <img class="webcam" width="220" height="140" src="../../../assets/gif/lainich.gif">
  </div> -->

</div>
