<div>
  <div class="col">
    <input [(ngModel)]="currentUserName" required placeholder="UserName" type="text">
  </div>
  <div class="col">
    <input [(ngModel)]="roomName" required placeholder="Room name" type="text">
  </div>
  <div class="col">
    <input [(ngModel)]="message" required placeholder="Message" type="text">
  </div>
  <div>
    <button (click)="saveUsername()" type="button">Save</button>
  </div>
  <div>
    <button (click)="stopRecorder()" type="button">Stop record</button>
  </div>
  <div>
    <button (click)="sendData()" type="button">Send Data</button>
  </div>
  <div>
    <button (click)="disconnect()" type="button">Disc</button>
  </div>
  <div>
    <div>You Video</div>
    <video #ourVideoPlayer width="320" height="240"></video>
  </div>
  <div>
    <div>Other video</div>
    <video #otherVideoPlayer width="320" height="240" controls></video>
  </div>

</div>
