:host {
    background-color: white;
    padding: 20px;
    border-radius: 5px;

    .task {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .text {
        text-align: center;
    }

    .done {
        width: 100%;
        background-color: #009460;
        text-align: center;
        color: white;
        font-size: 18px;
        padding: 7px;
        border-radius: 5px;
    }

    .review {
        color: #009460;
        font-size: 20px;
        display: flex;
        align-items: center;
        gap: 10px;
    }
}