
<div class="main">
    <div class="cont">
        <div class="RegBox">
            <h1>Заполните профиль</h1>
            <input type="text" placeholder="ФИО">
            <input type="text" placeholder="Телефон">
            <input type="text" placeholder="Почта">
            <input class="password" type="password" placeholder="Пароль">
            <input class="password" type="password" placeholder="Повторите пароль">

            <button>Продолжить</button>

        </div>
    </div>  
</div>
