<div 
    *ngIf="selectedBar === 'console'"
    class="output" 
    [ngClass]="{
        'output-success': isCompilationSuccess,
        'output-failure': !isCompilationSuccess && isCompilationSuccess !== undefined
    }"
>
    <div class="lines">
        <a *ngFor="let line of consoleOutput">
            {{ line }}
        </a>
    </div>
</div>

<div
    *ngIf="selectedBar === 'tests'"
    class="tests-runner"
    [ngClass]="{
        'test-success': isTestsSuccess,
        'tests-failure': !isTestsSuccess && isTestsSuccess !== undefined
    }"
>
    <div class="bar">
        <img src="../../../../assets/svg/play.svg" class="run-btn" (click)="runTests()" *ngIf="isTestsRunnable && !isRunningTests">
        <img src="../../../../assets/svg/plus-gray.svg" class="no-run" *ngIf="!isTestsRunnable && !isRunningTests">
        <div class="loader-tests" style="width: 1.3em; height: 1.3em" *ngIf="isRunningTests"></div>
    </div>

    <div class="info">
        <div class="tests-list" *ngIf="testsRunResult">
            <div 
                *ngFor="let failedTestCase of testsRunResult.failedTestCases | keyvalue" 
                class="failed-test test-case" 
                (click)="setTestInfo(failedTestCase.key, failedTestCase.value, false)">
                    {{failedTestCase.key}}
            </div>
            <div 
                *ngFor="let passedTestCase of testsRunResult.passedTestCases" 
                class="passed-test test-case" 
                (click)="setTestInfo(passedTestCase, 'Test passed', true)"
                >
                {{passedTestCase}}
            </div>
        </div>
        <div class="tests-list" *ngIf="!testsRunResult">Тесты не запущенны</div>
        <div 
            class="test-info"     
            [ngClass]="{
                'test-info-success': isTestInfoSuccess,
                'test-info-failure': !isTestInfoSuccess && isTestInfoSuccess !== undefined
            }"
        >
            {{testInfo ?? "Для просмотра сообщения следует выбрать тест"}}
        </div>
    </div>
</div>

<div class="selection">
    <button 
        (click)="selectBar('console')" 
        class="selection-btn"
        [ngClass]="{
            'selected-btn': selectedBar === 'console'
        }"
    >
        Консоль
    </button>
    <button 
        (click)="selectBar('tests')" 
        class="selection-btn"
        [ngClass]="{
            'selected-btn': selectedBar === 'tests'
        }"
    >
        Тесты
    </button>
</div>