<div class="wrapper">
    <div class="filter-bar">
        <div class="int-type-selection">
            <button [ngClass]="{'btn-selected': !isShowingMeets}" (click)="showMeets(false)">Кандидаты</button>
            <button [ngClass]="{'btn-selected': isShowingMeets}" (click)="showMeets(true)">Встречи</button>
        </div>
        <form class="filters" [formGroup]="filtersForm">
            
            <div [ngClass]="{'sgm-hidden': isShowingMeets}" class="segments">
                <div class="segment">
                    <div class="option">
                        <label>
                            <mat-checkbox type="checkbox" formControlName="ending"></mat-checkbox> 
                            Истекает срок проверки
                        </label>
                    </div>
                </div>
            
                <div class="segment">
                    <span class="title">По добавлению:</span>
                    <mat-radio-group formControlName="date">
                        <div class="option">
                            <label>
                                <mat-radio-button type="radio" value="new" id="new"></mat-radio-button>
                                Сначала новые
                            </label>
                        </div>
                        <div class="option">
                            <label>
                                <mat-radio-button  type="radio" value="old" id="old"></mat-radio-button>
                                Сначала старые
                            </label>
                        </div>
                    </mat-radio-group>
                </div>
            
                <div class="segment">
                    <span class="title">По статусу:</span>
                    <!-- <div class="option">
                        <input type="checkbox" formControlName="state" value="done"> Выполнено
                    </div> -->
                    <div *ngFor="let state of states; let i = index" class="option">
                        <label [class]="state.value">
                          <mat-checkbox formArrayName="state" type="checkbox" [value]="state.value" (change)="onCheckboxChange($event, 'state')"></mat-checkbox>
                          {{state.name}}
                        </label>
                      </div>
                </div>
            
                <div class="segment">
                    <span class="title">Вакансия:</span>
                    <div *ngFor="let vacancy of vacancies; let i = index" class="option">
                        <label>
                          <mat-checkbox formArrayName="state" type="checkbox" [value]="vacancy.value" (change)="onCheckboxChange($event, 'vacancy')"></mat-checkbox>
                          {{vacancy.name}}
                        </label>
                    </div>
                </div>

            </div>

            <button class="create-int" (click)="createInterview()">
                <img src="../../../../assets/svg/plus-purple.svg">
                Создать новое интервью
            </button>
        </form>
    </div>
    
    <div class="candidates">
        <div class="top">
            <label class="search" for="card-search" [formGroup]="searchForm">
                <input id="card-search" type="text" placeholder="Поиск..." formControlName="serachInput">
                <img src="../../../../assets/svg/loupe.svg">
            </label>
            <button class="invite" (click)="invite()">
                <img src="../../../../assets/svg/plus.svg">
                Пригласить участника
            </button>
        </div>
        <div class="list" *ngIf="candidates && !isShowingMeets">
            <app-candidate-card 
                *ngFor="let candidate of candidates | candidateFilter : filterCriteria : searchCriteria" 
                #candidateCard
                class="candidate-card" 
                (clickEvent)="selectCard($event)"
                [candidate]="candidate"
                [ngClass]="{
                    'checked': candidate.getState() === state.checked,
                    'inProcess': candidate.getState() === state.inProcess,
                    'toCheck': candidate.getState() === state.toCheck,
                    'expired': candidate.getState() === state.expired 
                }" >
            </app-candidate-card >
        </div>
        <div *ngIf="meets && isShowingMeets" class="meets">
            <app-meet-card class="meet-card"
                *ngFor="let meetInfo of meets | meetsFilter : searchCriteria"
                [meetInfo]="meetInfo"
                (click)="selectMeet(meetInfo)">
            </app-meet-card>
        </div>
    </div>
</div>

<app-candidate-invite (closeEvent)="closeInvite()" [openEvent]="inviteEvent"></app-candidate-invite>
