<div class="person">
    <div class="main">
        <div class="left">
            <img src="../../../../assets/svg/avatar-light.svg" alt="avatar">
        </div>
        <div class="right">
            <span class="name">{{id}}</span>
            <span class="vacancy">???</span>
        </div>
    </div>
    <div class="time">
        <div class="stamp">
            <span class="edge">Начало</span>
            <span class="timestamp">???</span>
        </div>
        <span class="line">-</span>
        <div class="stamp">
            <span class="edge">Окончание</span>
            <span class="timestamp">???</span>
        </div>
    </div>
    <div class="info">
        <img src="../../../../assets/svg/info.svg" alt="info">
    </div>
</div>

<div class="tasks">

</div>
