@import (reference) "/src/styles.less";
@import (reference) "../candidates-list/candidates-list.component.less";

:host {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 1 auto;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow: auto;

    .person {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        flex: 0 0 90px;
        background-color: white;
        box-shadow: 0 1px 3px 0 #939393;

        .back {
            cursor: pointer;
            border-radius: 10px;

            &:hover {
                background-color: #F3F3F3;
            }
        }

        .main {
            display: flex;
            align-items: center;

            .left {
                height: 100%;
                display: flex;
                align-items: center;

                img {
                    width: 70%;
                }
            }

            .right {
                display: flex;
                flex-direction: column;

                .name {
                    font-size: 22px;
                }

                .vacancy {
                    font-size: 18px;
                    color: #939393;
                }
            }
        }

        .time {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 30px;
            text-align: center;
            
            .stamp {
                display: flex;
                gap: 10px;
                flex-direction: column;

                .edge {
                    font-size: 18px;
                    color: #939393;
                }

                .timestamp {
                    font-family: Recursive;
                    font-size: 22px;
                }
            }

            .line {
                font-size: 28px;
            }
        }

        .info {
            height: 100%;
            display: flex;
            align-items: center;

            img {
                height: 30%;
            }
        }
    }

    .overview {
        display: flex;
        flex-direction: column;
        box-shadow: 0 0 3px 0 #939393;
        background-color: white;
        flex: 1 1 auto;
        overflow: auto;

        .tasks {
            padding: 20px;
            display: flex;
            flex: 1 1 auto;
            flex-direction: column;
            overflow: auto;
            
            .task {
                display: flex;
                justify-content: space-between;
                padding: 12px;
                height: 50px;
                font-size: 30px;
                border-bottom: solid 2px #DFDFDF;

                .watch {
                    color: @color-main;
                    font-size: 15px;
                    background-color: white;
                    border: solid 1px @color-main;

                    &:hover {
                        background-color: @color-main;
                        color: white;
                    }
                }

                &-info {
                    display: flex;
                    align-items: baseline;
                    gap: 6vw;

                    .number {
                        display: inline-block;
                        color: white;
                        padding: 5px;
                        height: 70%;
                        text-align: center;
                        aspect-ratio: 1/1;
                        border-radius: 6px;
                        background-color: @color-done;
                    }
                } 

                &-grades {
                    position: relative;
                    top: -10px;
                    display: flex;
                    gap: 50px;
                    label {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }
        }

        .result {
            border-top: solid 2px @color-main;
            flex: 0 0 100px;
            padding: 50px;
            padding-top: 20px;
            padding-bottom: 20px;
            gap: 50px;
            display: flex;
            justify-content: space-evenly;

            .comment {
                display: flex;
                flex-direction: column;
                flex: 1 1 auto;
                gap: 20px;
                align-items: flex-end;

                &-input {
                    font-size: 20px;
                    width: 100%;
                    height: 100px;
                    resize: none;
                }
                
                .submit {
                    align-self: flex-end;
                }
            }


            &-grades {
                display: flex;
                flex-direction: column;
                flex-direction: 30px;
                gap: 30px;
                font-size: 30px;

                span {
                    width: 100%;
                    text-align: center;
                }

                .wrapper {
                    display: flex;
                    gap: 50px;
                    label {
                        display: flex;
                        flex-direction: column;
                    }
                }

            }
        }
    }
}