@import (reference) "/src/styles.less";

@color-use: #91c483;
@color-stop: #ff6464;

:host {
    width: 100%;
    .range {
        width: 100%;
    }

    // .timeline {
    //     position: relative;
    //     height: 20px;
    //     width: 100%;

    //     .point {
    //         position: absolute;
    //         font-size: 30px;
    //     }
    // }
    .timeline {
        width: 100%;
        background-color: white;
    }

    .write, .review {
        align-items: flex-start;
        display: flex;
        // flex-direction: column;
        gap: 5px;
    }

    .review {
        flex-direction: column;
    }

    .b(@color) {
        padding: 6px;
        gap: 6px;
        font-size: 14px;
        font-family: Raleway-Bold;
        text-align: center;
        background-color: white;
        color: @color;
        border: solid 1px @color;

        &:hover {
            color: white;
            background-color: @color;
        }

        &:active {
            background-color: lighten(@color, 3%);
            border-color: lighten(@color, 3%);
        }
    }

    .b-red {
        .b(@color-stop);
    }

    .b-green {
        .b(@color-use);
    }

    .b-blue {
        .b(#64a6ff);
    }
}
