<div
    class="comment"
    [ngClass]="{
        'comment-show': isShowingComment
    }"
>
    <div class="top">
        <span class="head">Комментарий проверяющего</span>
        <button class="close" (click)="closeComment()">X</button>
    </div>
    <span class="text">
        {{candidate.reviewerComment}}
    </span>
</div>

<div
    class="review"
    [ngClass]="{
        'hide-right': isShowingComment,
        'hide-left': isShowingGrade
    }"
>
    <div class="top">
        <div class="name">
            <span class="surname">{{ candidate.surname }}</span>
            <span class="firstName">{{ candidate.firstName }}</span>
        </div>
        <div class="language-list">
            <span *ngFor="let programmingLanguage of candidate.programmingLanguages" class="language">
                {{convertProgrammingLanguageToString(programmingLanguage)}}
            </span>
        </div>
    </div>

    <span class="vacancy"> {{ candidate.vacancy }} </span>

    <div class="time">
        <span class="time-inner">
            Начало:
            <span *ngIf="candidate.startTimeMs !== -1 else startElse" class="time-stamp">
                {{ candidate.startTimeMs | date : 'dd.MM.yyyy' }}
            </span>

            <ng-template #startElse>
                <span class="alert"> не приступал </span>
            </ng-template>
        </span>

        <span  class="time-inner">
            Срок проверки:

            <span class="time-stamp" *ngIf="candidate.timeToCheckMs > 0 else checkElse">
                {{ candidate.timeToCheckMs | date : 'dd.MM.yyyy' }}
            </span>

            <ng-template #checkElse>
                без срока
            </ng-template>
        </span>
    </div>

    <div class="progress">
        <div class="progress-label">
            <span>Выполнено</span>
            <span class="count"> {{ candidate.doneTasksCount }} / {{ candidate.tasksCount }} </span>
        </div>
        <mat-progress-bar [mode]="candidate.getState() === state.inProcess? 'buffer' : 'determinate'" [class]="candidate.getState()" [value]="candidate.doneTasksCount / candidate.tasksCount * 100"></mat-progress-bar>
    </div>

    <div class="bottom">
        <span class="avg-grade" *ngIf="candidate.averageGrade !== 0">{{candidate.averageGrade}}</span>
        <img class="comment-img"
            *ngIf="candidate.reviewerComment"
            (click)="showComment()"
            src="../../../../assets/svg/comment.svg"
            alt="..." class="comment-img">
        <button class="review-btn" *ngIf="candidate.getState() === state.toCheck" (click)="select()">Проверить</button>
        <span class="expired-label" *ngIf="candidate.getState() === state.expired" (click)="select()">Не сдано</span>
        <span class="process-label" *ngIf="candidate.getState() === state.inProcess" (click)="select()">В процессе</span>
        <span class="checked-label" *ngIf="candidate.getState() === state.checked" (click)="select()">Проверено</span>
    </div>
</div>

<div
    class="hr-grade"
    [ngClass]="{
        'grade-show': isShowingGrade
    }"
>
    <div class="top">
        <span class="head">Результат интервью</span>
        <button class="close" (click)="closeGrade()">X</button>
    </div>
    <form class="control" [formGroup]="hrGrade">
        <div>
            <input type="radio" formControlName="result" id="rad{{candidate.userId}}1" [value]="2">
            <label for="rad{{candidate.userId}}1"></label>
            <label for="rad{{candidate.userId}}1">Одобрено</label>
        </div>
        <div>
            <input type="radio" formControlName="result" id="rad{{candidate.userId}}2" [value]="1">
            <label for="rad{{candidate.userId}}2"></label>
            <label for="rad{{candidate.userId}}2">Подумать</label>
        </div>
        <div>
            <input type="radio" formControlName="result" id="rad{{candidate.userId}}3" [value]="0">
            <label for="rad{{candidate.userId}}3"></label>
            <label for="rad{{candidate.userId}}3">Отклонить</label>
        </div>
    </form>
</div>
