<!-- <div class="wrapper">
    <img class="logo" src="../../../../assets/svg/logo.svg">
    
    <div class="main">
        <div class="cont">
            <form class="RegBox" [formGroup]="regForm">
                <h1>Заполните профиль</h1>
                <input type="text" placeholder="ФИО" formControlName="userName">
                <input type="text" placeholder="Телефон" formControlName="userPhone">
                <input type="text" placeholder="Почта" formControlName="userEmail">
                <input class="password" type="password" placeholder="Пароль" formControlName="userPassword">

                <button (click)="submit()">Продолжить</button>
    
            </form>
        </div>  
    </div>
</div> -->

<div class='registrationComponent'>
    <div class='registrationComponentHeader'>
        <h1>Регистрация</h1>
    </div>
    <form [formGroup]="regForm">
        <div class='inputDiv'>
            <input type="text" class='input' placeholder="Фамилия" formControlName="userSurname" required/>
        </div>
        <div class='inputDiv'>
            <input type="text" class='input' placeholder="Имя" formControlName="userFirstName" required/>
        </div>
        <div class='inputDiv'>
            <input type="text" class='input' placeholder="Телефон" formControlName="userPhone" required/>
        </div>
        <div class='inputDiv'>
            <input type="text" class='input' placeholder="Почта" formControlName="userEmail" required/>
        </div>
        <div class='inputDiv'>
            <input type="password" class='input' placeholder="Пароль" formControlName="userPassword" required/>
        </div>
        <div class='inputDiv'>
            <input type="password" class='input' placeholder="Повторите пароль" required/>
        </div>
        <button type="submit" class='button color-red' (click)="submit()">Продолжить</button>
    </form>
</div>