@import (reference) "/src/styles.less";

:host {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
}

.other-login {
    background-color: transparent;
    color: #0077FF;
    border-color: #0077FF;
    justify-content: center;
    gap: 10px;

    img {
        height: 80%;
    }

    &:hover {
        background-color: #0077FF;
        color: white;
    }
}

.registrationComponent {
    align-items: center;
    display: flex;
    width: 420px;
    flex-flow: column;
    border-radius: 20px;
    background-color: @color-white;
    box-sizing: border-box;
    row-gap: 20px;
    padding-top: 32px;
    padding-bottom: 32px;
    overflow: hidden;
}

.registrationComponentHeader {
    display: flex;
    width: 80%;
    height: 50px;
    margin-bottom: 24px;
    align-self: center;
}

.registrationComponentHeader h1 {
    color: @color-black;
    margin: auto;
    letter-spacing: .3rem;
    font-size: 3em;
}

.registrationForm {
    width: 100%;
    display: flex;
    flex-flow: column;
    align-items: center;
    row-gap: 16px;
    overflow: auto;
 }

.formChild {
    width: 72%;
    height: 50px;
    border-radius: 10px;
    flex-shrink: 0;
 }

.inputDiv {
    box-sizing: border-box;
    padding: 0 5%;
    background-color: @color-black10;
}

.input {
    width: 100%;
    height: 100%;
    border: 0;
    font-size: 1.25em;
    color: @color-black75;
    background-color: transparent;
    outline: none;
    font-family: Jost-Regular;
}

.submit-btn {
    border: 0;
    font-size: 1.25em;
    border-radius: 10px;
    color: @color-white;
    background-color: @color-red;
    letter-spacing: .3rem;
}
