<ng-container *ngIf="slnReview else loading">
    <!-- <div class="person">
        <img (click)="back()" class="back" src="../../../../assets/svg/arrow-left.svg" alt="back">
        <div class="main">
            <div class="left">
                <img src="../../../../assets/svg/avatar-light.svg" alt="avatar">
            </div>
            <div class="right">
                <span class="name">{{slnReview.fullName}}</span>
                <span class="vacancy">{{slnReview.vacancy}}</span>
            </div>
        </div>
        <div class="time">
            <div class="stamp">
                <span class="edge">Начало</span>
                <span class="timestamp">{{slnReview.startTimeMs | date : 'HH:mm:ss dd.MM.yyyy'}}</span>
            </div>
            <span class="line">-</span>
            <div class="stamp">
                <span class="edge">Окончание</span>
                <span class="timestamp">{{slnReview.endTimeMs | date : 'HH:mm:ss dd.MM.yyyy'}}</span>
            </div>
        </div>
        <div class="info">
            <img src="../../../../assets/svg/info.svg" alt="info">
        </div>
    </div>
    
    <form class="overview" [formGroup]="gradesForm" *ngIf="!isWatching else contest">
        <div class="tasks">
            <div class="task" *ngFor="let task of slnReview.taskSolutionsInfos">
                <div class="task-info">
                    <div 
                        class="number" 
                        [ngClass]="{
                            'done': task.isDone
                        }"
                    >
                        {{ task.taskOrder }}
                    </div>
                    <span class="language">C#</span>
                </div>
    
                <button (click)="watch(task.taskSolutionId)" class="watch" *ngIf="isAllLoaded">Просмотреть</button>
    
                <div class="task-grades">
                    <label *ngFor="let i of [1, 2, 3, 4, 5]">
                        {{ i }}
                        <input id="grade{{task.taskOrder}}{{i}}" type="radio" class="task-grade" formControlName={{task.taskOrder}} [value]="i">
                        <label for="grade{{task.taskOrder}}{{i}}"></label>
                    </label>
                </div>      
            </div>
        </div>
        <div class="result">
            <div class="comment">
                <textarea type="text" formControlName="resultComment" class="comment-input" placeholder="Комментарий по решению..."></textarea>
                <button class="submit" (click)="saveComment()">Сохранить комментарий</button>
            </div>
    
            <div class="result-grades">
                <span>Общая оценка</span>
                <div class="wrapper">
                    <label *ngFor="let i of [1, 2, 3, 4, 5]">
                        {{ i }}
                        <input id="grade-res{{i}}" type="radio" class="comment-grade" formControlName="resultGrade" [value]="i">
                        <label for="grade-res{{i}}"></label>
                    </label>
                </div>
            </div>
        </div>
    </form> -->

    <app-contest [editorMode]="modes.review" [review]="slnReview" [startTaskId]="startTaskId"></app-contest>
</ng-container>

<ng-template #loading>
    Загрузка ревью...
</ng-template>
